[alias]
  hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short

[core]
  pager = delta --dark
  excludesfile = ~/.gitignore

[interactive]
  diffFilter = delta --color-only --dark

[merge]
  tool = nvim

[mergetool]
  keepBackup = false

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[commit]
  gpgsign = true

[pull]
  rebase = false
  ff = only

[alias]
  # abbreviations
  a = add
  aa = add -A
  c = commit
  ca = commit -a
  cane = commit --amend --no-edit
  cam = commit -a -m
  co = checkout
  cm = commit -m
  d = diff
  ds = diff --staged
  p = push
  pfwl = push --force-with-lease
  r = reset
  s = status
  ss = status -s

  # scripts
  cleanup =  "!cleanup() { \
               git fetch -p > /dev/null; \
               for BRANCH in `git branch -vv | grep --invert-match '^*' | grep ': gone' | awk '{print $1}'`; do \
                 git branch -D "${BRANCH}"; \
               done; \
             }; \
             cleanup"

[credential]
  helper = manager-core

[credential "https://dev.azure.com"]
  useHttpPath = true

[include]
  # user details
  path = ~/.gitconfig_user
