[user]
	name = Patrick Kissling
	email = patrick.kissling@gmx.de
	signingkey = 6E59199EA7382897

[alias]
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short

[core]
	pager = delta --dark

[interactive]
	diffFilter = delta --color-only --dark

[merge]
	tool = nvim

[mergetool]
	keepBackup = false

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"