layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="nvim" {
        pane {
            command "nvim"
            args "."
            borderless true
        }
    }
    tab name="shell" {
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" {
                pane
                pane
            }
        }
    }
    tab name="claude" {
        pane {
            command "claude"
        }
    }
    tab name="git" {
        pane {
            command "lazygit"
        }
    }
}
